/* 
    박스안에있는 글짜를 옮기는 방법
    line-height, padding
    호텔찾기처럼 가운데가 아닌 애매한 부분은
    span태그로 묶어서 패딩으로 조진다
*/
@charset "utf-8";

#wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}
#header-branch {
    width: 100%;
    display: none;
    text-align: center;
    background-color: #f0ebe8;
    overflow: hidden;
    position: relative;
}
#header-branch > .header-inner {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
#header-branch .header-title {
    display: none;
}
#header-branch .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
#header-branch .header-list {
    font-size: 0;
    text-align: center;
    margin: -7px;
}
#header-branch .header-list li {
    float: left;
    width: 25%;
    position: relative;
    box-sizing: border-box;
    padding: 7px;
    text-align: center;
}
#header-branch .header-list li .hotal-img {
    position: absolute;
    z-index: 0;
}
#header-branch .header-list li .hotal-img img {
    width: 100%;
    max-width: 100%;
}
#header-branch .header-list li .cover {
    position: absolute;
    left: 7px;
    right: 7px;
    top: 7px;
    bottom: 7px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* transition: all 0.5s ease; */
}
#header-branch .header-list li .cover .text-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
#header-branch .header-list li .cover .text-list span {
    display: block;
    color: #fff;
}
#header-branch .header-list li .cover .text-list .text {
    font-size: 18px;
}
#header-branch .header-list li .cover .more {
    height: 0;
    margin-top: 0;
    opacity: 0;
    /* transition: all 0.5s ease; */
}
#header-branch .header-list li .cover .more img {
    display: inline-block;
}
#header-branch .header-list li .cover::after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 100%;
}
/* inner */
#header > .inner {
    width: 92%;
    height: 123px;
    max-width: 1750px;
    margin: 0 auto;
    display: table;
    position: relative;
    transition: all 0.3s ease;
}
#header > .inner > * {
    display: table-cell;
    vertical-align: middle;
    /* 
        모아주는 성질을 갖고 있다.
        flex비슷
    */
}
#header > .logo {
    width: 240px;
    /* float: left; */
}
#header .logo a {
    display: block;
    line-height: 0;
    transform-origin: left;
    padding-top: 3%;
}
#header .logo img {
    width: 240px;
}
#header .list > ul {
    display: table;
    margin-left: auto;
}
#header .list > ul > li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#header .list > ul > li + li {
    padding-left: 10px;
}
.list li a {
    display: block;
    margin: 0 20px;
    font-size: 16px;
    color: #333;
    line-height: 50px;
}
.list > ul > li .list-reservation {
    min-width: 150px;
    height: 50px;
    border: 2px solid #94775f;
    font-size: 15px;
    color: #94775f;
    line-height: 48px;
}
.list > ul > li .list-Search {
    min-width: 150px;
    height: 50px;
    border: 2px solid #94775f;
    background-color: #94775f;
    line-height: 48px;
    text-align: left;
    padding-left: 23px;
}
.list > ul > li span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding-right: 46px;
}
.list > ul > li span::after {
    position: absolute;
    top: 12px;
    right: 8px;
    content: '';
    display: inline-block;
    background-image: url(./img/ico_find_hotel.png);
    width: 24px;
    height: 24px;
}
.list .list-kr button {
    min-width: 50px;
    height: 50px;
    color: #333;
    border: 1px solid #333;
}
/* logo, list */
.back-img {
    position: relative;
    max-width: 1920px;
    height: 765px;
    background-image: url(./img/visual_01B.jpg);
    margin-bottom: 50px;
}
.back-img .back-img-list .img-h1 {
    font-size: 50px;
    color: #fff;
    /* margin-bottom: 20px; */
    line-height: 1.5;
    /* margin-top: 50px; */
    padding-top: 300px;
    padding-left: 150px;
    margin-bottom: 20px;
}
.back-img .back-img-list .img-text {
    font-size: 24px;
    color: #fff;
    line-height: 1.5;
    padding-left: 150px;
    margin-bottom: 30px;
}
.back-img .back-img-list .img-a a {
    font-size: 16px;
    color: #fff;
    width: 170px;
    height: 60px;
    line-height: 56px;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 20px;
}
.back-img > .button-list {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
}
.back-img > .button-list li {
    display: inline-block;
    padding: 0 5px;
}
.back-img > .button-list li button {
    width: 50px;
    height: 5px;
    border: 1px solid #fff;
    background-color: #333;
}
/* back-img */
.main-event {
    background-color: #fbfbfb;
}
.main-inner {
    position: relative;
    width: 100%;
    max-width: 1750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 80px 0;
    padding-left: 490px;
}
.main-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 490px;
    height: 100%;
    padding: 80px;
    box-sizing: border-box;
    z-index: 1;
}
.main-promotion > .main-inner {
    width: 100%;
    /* min-height: 1750px; */
    margin: 0 auto;
}
.main-inner > .main-title > .main-h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 6.75px;
    margin-bottom: 30px;
}
.main-inner > .main-title > .main-text {
    font-size: 22px;
    line-height: 32px;
    color: #b6ab97;
}
.main-title > .main-button > .BACK {
    position: absolute;
    left: 280px;
    bottom: 95px;
    width: 60px;
    height: 60px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    background-color: transparent;
    border-radius: 100%;
}
.main-title > .main-button > .BACK::after {
    content: '';
    display: inline-block;
    border-left: 2px solid #b6b6b6;
    transform: rotate(45deg);
    margin-left: 2px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #b6b6b6;
    box-sizing: border-box;
}
.main-title > .main-button > .NEXT {
    position: absolute;
    left: 350px;
    bottom: 95px;
    width: 60px;
    height: 60px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    background-color: transparent;
    border-radius: 100%;
}
.main-title > .main-button > .NEXT::after {
    content: '';
    display: inline-block;
    border-right: 2px solid #b6b6b6;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #b6b6b6;
    box-sizing: border-box;
}
.main-title > .main-button > .BACK:hover {
    border-color: #333;
}
.main-title > .main-button > .NEXT:hover {
    border-color: #333;
}
.img-list-box {
    width: 100%;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    margin: -30px;
    position: static;
}
.img.list-box .main-button {
    left: 300px;
}
.img-list-box ul {
    display: flex;
}
.img-list-box ul li {
    padding-left: 20px;
}
.img-list-box .list-box .list-inner {
    display: block;
    background-color: #fff;
    border-top: 2px solid #333;
}
.img-list-box .list-box .img-text-list {
    padding: 35px 20px;
    position: relative;
    z-index: 1;
}
.img-list-box .list-box .img-text-list .img-text {
    font-size: 20px;
    line-height: 30px;
    width: 335px;
    height: 30px;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.img-list-box .list-box .img-text-list .img-data {
    font-size: 15px;
    color: #999;
}
.img-list-box .list-box .img-text-list .img-label {
    font-size: 15px;
    line-height: 35px;
    color: #fff;
    background-color: #333;
    min-width: 70px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: -15px;
}
.img-list-box .list-box .img {
    width: 375px;
    height: 285px;
    background-color: #dedede;
    overflow: hidden;
    position: relative;
}
/* main-promotion */
.package {
    background-color: #fff;
}
.package > .main-inner {
    padding-left: 0;
    padding-right: 490px;
}
.package > .main-inner > .main-title {
    left: auto;
    right: 0;
}
.main-event > .lmg-list-box {
    margin: -30px;
    position: static;
}
/* main-todo */
.main-todo {
    background-image: url(./img/todo_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-todo .todo-title {
    display: inline;
    position: absolute;
    top: 80px;
    left: 80px;
    width: 84px;
    height: 458px;
    text-indent: -9999px;
    background-image: url(./img/todo_title.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main-inner .main-todo-box {
    position: relative;
    padding: 30%;
}
.main-todo-box .main-todo-list {
    width: 35px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
